.gradle/

.idea/

assets/

build/

config/

eclipse/

mods/

out/

resourcepacks/

resources/

saves/

stats/

ForgeModLoader-client-0.txt
ForgeModLoader-client-0.log.lck
ForgeModLoader-client-1.txt
ForgeModLoader-client-2.txt
output-client.txt
output-server.txt
