.gradle/
.idea/
assets/
build/
config/
eclipse/
mods/
out/
resourcepacks/
saves/
stats/
ForgeModLoader-client-0.log
ForgeModLoader-client-0.log.lck
ForgeModLoader-client-1.log
ForgeModLoader-client-2.log
output-client.log
output-server.log
